<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="AnalyzerRulesets" Description="Analyzer custom rulesets" ToolsVersion="15.0">
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1001" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1027" Action="None" />
    <Rule Id="SA1118" Action="None" />
    <Rule Id="SA1124" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1602" Action="Info" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1652" Action="None" />
  </Rules>
</RuleSet>